# Analysis brca_sample_1.HBOCUTV_v01 in Ella - Query the Database Directly

This shows how to query the Ella database for information on the analysis for custom reporting.

This assumes that you ran the dev stack with `make dev; make load` in order to add in a sample analysis. If you haven't, or would like to use another sample or analysis, you will need to query with different IDs.

In [1]:
import os
import sqlalchemy as sa
from sqlalchemy import create_engine
from sqlalchemy import inspect
import json
from pprint import pprint
import pandas as pd

## SQL Alchemy Database Setup

In [2]:
os.environ.get('DB_URL')

'postgresql://postgres:password123@postgresql/postgres'

In [3]:
engine = sa.create_engine(os.environ.get('DB_URL'))

In [4]:
%load_ext sql

In [5]:
%sql postgresql://postgres:password123@postgresql/postgres

In [6]:
# Get column information
def get_column_info(tables):
    for table in tables:
        print(table)
        columns = inspector.get_columns(table)
        pprint(columns)

db_uri = os.environ.get('DB_URL')
engine = create_engine(db_uri)

inspector = inspect(engine)

# Get table information
tables = inspector.get_table_names()
pprint(tables)

['alembic_version',
 'analysis',
 'alleleassessmentattachment',
 'alleleinterpretationsnapshot',
 'analysisinterpretation',
 'alleleassessmentreferenceassessment',
 'analysisinterpretationsnapshot',
 'allele',
 'annotationshadowfrequency',
 'annotation',
 'alleleinterpretation',
 'allelereport',
 'annotationjob',
 'broadcast',
 'clilog',
 'attachment',
 'customannotation',
 'gene',
 'geneassessment',
 'genepanel_phenotype',
 'phenotype',
 'genotype',
 'genotypesampledata',
 'interpretationlog',
 'interpretationstatehistory',
 'reference',
 'jsonschema',
 'genepanel_transcript',
 'genepanel',
 'resourcelog',
 'sample',
 'transcript',
 'usersession',
 'useroldpassword',
 'usergroupfilterconfig',
 'usergroupgenepanel',
 'filterconfig',
 'alleleassessment',
 'user',
 'usergroup',
 'referenceassessment',
 'annotationshadowtranscript']

## Sample brca_sample_1

Most of the time a report is generated for a particular sample. 

Sample Id -> Analysis Id -> List(Interpretation Ids) -> List(Allele Id)

In [7]:
%%sql

SELECT * FROM sample;

 * postgresql://postgres:***@postgresql/postgres
6 rows affected.

[(1, 'brca_allfiltered', 1, 'HTS', datetime.datetime(2020, 10, 19, 10, 46, 41, 614773, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), True, None, None, None, None, True, None),
 (2, 'brca_sample_1', 2, 'HTS', datetime.datetime(2020, 10, 19, 10, 46, 43, 434024, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), True, None, None, None, None, True, None),
 (4, 'brca_sample_3', 4, 'HTS', datetime.datetime(2020, 10, 19, 10, 46, 49, 807489, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), True, None, None, None, None, True, None),
 (5, 'brca_sample_1', 5, 'HTS', datetime.datetime(2020, 10, 19, 10, 46, 51, 617945, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), True, None, None, None, None, True, None),
 (6, 'brca_sample_master', 6, 'HTS', datetime.datetime(2020, 10, 19, 10, 46, 53, 272682, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), True, None, None, None, None, True, None),
 (7, 'brca_sample_master', 7, 'HTS', datetime.datetime(2020, 10, 19, 10, 46, 54, 988033, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), True, None, None, None, None, True, None)]

## Analysis brca_sample_1.HBOCUTV_v01

Since any sample can duplicate records with more than 1 analysis, make sure you are getting the correct analysis and the correct. On the UI there needs to be a filter by sample_name, sample_type, date_deposited, genepanel name, and/or genepanel version.

Generally the Sample Name is going to be read in from a LIMs system somewhere anyways.

In [8]:
# make sure to use single quotes, '', not ""

report_data = {}

In [9]:
sample = %sql select * from sample where analysis_id = 2 AND identifier = 'brca_sample_1';
sample_df = sample.DataFrame()
sample_df

 * postgresql://postgres:***@postgresql/postgres
1 rows affected.

,id,identifier,analysis_id,sample_type,date_deposited,affected,family_id,father_id,mother_id,sibling_id,proband,sex
0,2,brca_sample_1,2,HTS,2020-10-19 10:46:43.434024+00:00,True,None,None,None,None,True,None

In [10]:
report_data['sample'] = sample_df.to_dict('records')

In [11]:
analysis = %sql SELECT * FROM analysis where name = 'brca_sample_1.HBOCUTV_v01';
analysis_df = analysis.DataFrame()
analysis_df

 * postgresql://postgres:***@postgresql/postgres
1 rows affected.

,id,name,genepanel_name,genepanel_version,warnings,report,date_deposited,properties,date_requested
0,2,brca_sample_1.HBOCUTV_v01,HBOCUTV,v01,None,None,2020-10-19 10:46:43.419040+00:00,None,None

In [12]:
report_data['analysis'] = analysis_df.to_dict('records')

In [13]:
# At some point I will want to filter on analyses that are complete

analysis_interpretation = %sql select * from analysisinterpretation where analysis_id = 2;
analysis_interprtetation_df = analysis_interpretation.DataFrame()
analysis_interprtetation_df

 * postgresql://postgres:***@postgresql/postgres
1 rows affected.

,id,genepanel_name,genepanel_version,user_state,state,status,date_last_update,date_created,analysis_id,user_id,finalized,workflow_status
0,2,HBOCUTV,v01,"{'allele': {'3': {'sections': {}, 'allele_id':...",{'allele': {'3': {'report': {'included': True}...,Ongoing,2020-10-19 10:50:59.532592+00:00,2020-10-19 10:46:43.427738+00:00,2,1,None,Interpretation

In [14]:
report_data['analysis_interprtetation'] = analysis_interprtetation_df.to_dict('records')

In [15]:
allele_assessment = %sql select * from alleleassessment where analysis_id = 2;
allele_assessment_df = allele_assessment.DataFrame()

report_data['allele_assessment'] = allele_assessment_df.to_dict('records')

allele_assessment_df

 * postgresql://postgres:***@postgresql/postgres
6 rows affected.

,id,classification,evaluation,user_id,date_created,date_superceeded,previous_assessment_id,allele_id,genepanel_name,genepanel_version,analysis_id,annotation_id,custom_annotation_id,usergroup_id
0,1,4,"{'acmg': {'included': [{'op': None, 'code': 'P...",1,2020-10-19 10:49:44.630277+00:00,None,None,3,HBOCUTV,v01,2,3,None,1
1,2,4,"{'acmg': {'included': [{'op': None, 'code': 'P...",1,2020-10-19 10:50:00.770452+00:00,None,None,4,HBOCUTV,v01,2,4,None,1
2,3,4,"{'acmg': {'included': [{'op': None, 'code': 'P...",1,2020-10-19 10:50:14.357702+00:00,None,None,5,HBOCUTV,v01,2,5,None,1
3,4,U,"{'acmg': {'included': [], 'suggested': [{'op':...",1,2020-10-19 10:50:26.990666+00:00,None,None,6,HBOCUTV,v01,2,6,None,1
4,5,4,"{'acmg': {'included': [{'op': None, 'code': 'P...",1,2020-10-19 10:50:38.883637+00:00,None,None,7,HBOCUTV,v01,2,7,None,1
5,6,U,"{'acmg': {'included': [], 'suggested': [{'op':...",1,2020-10-19 10:50:47.757943+00:00,None,None,8,HBOCUTV,v01,2,8,None,1

In [16]:
# Now let's grab the allele ids
allele_ids = allele_assessment_df['allele_id'].tolist() 
query = sa.text(""" 
                SELECT *
                FROM annotation
                WHERE allele_id IN :values; 
""")
query = query.bindparams(values=tuple(allele_ids))
allele_annotation_df = pd.read_sql(query, engine)

report_data['allele_annotation'] = allele_annotation_df.to_dict('records')

allele_annotation_df

,id,allele_id,annotations,previous_annotation_id,date_superceeded,date_created,schema_version
0,3,3,"{'external': {'HGMD': {'tag': 'DM', 'codon': 4...",None,None,2020-10-19 10:46:43.496905+00:00,1
1,4,4,"{'external': {'HGMD': {'tag': 'DM', 'codon': 1...",None,None,2020-10-19 10:46:43.496920+00:00,1
2,5,5,"{'external': {'HGMD': {'tag': 'DM', 'acc_num':...",None,None,2020-10-19 10:46:43.496927+00:00,1
3,6,6,"{'external': {'HGMD': {'tag': 'DM', 'codon': 2...",None,None,2020-10-19 10:46:43.496932+00:00,1
4,7,7,"{'external': {'HGMD': {'tag': 'DM', 'codon': 3...",None,None,2020-10-19 10:46:43.496937+00:00,1
5,8,8,"{'external': {'HGMD': {'tag': 'DM?', 'codon': ...",None,None,2020-10-19 10:46:43.496943+00:00,1

In [17]:
query = sa.text(""" 
                SELECT *
                FROM allele
                WHERE id IN :values; 
""")
query = query.bindparams(values=tuple(allele_ids))
allele_df = pd.read_sql(query, engine)


report_data['allele'] = allele_df.to_dict('records')

allele_df

,id,genome_reference,chromosome,start_position,open_end_position,change_from,change_to,change_type,vcf_pos,vcf_ref,vcf_alt
0,3,GRCh37,13,32890606,32890607,G,T,SNP,32890607,G,T
1,4,GRCh37,13,32890645,32890647,AC,,del,32890645,GAC,G
2,5,GRCh37,13,32890665,32890666,T,A,SNP,32890666,T,A
3,6,GRCh37,13,32893217,32893218,A,T,SNP,32893218,A,T
4,7,GRCh37,13,32893242,32893243,G,T,SNP,32893243,G,T
5,8,GRCh37,13,32893343,32893344,A,G,SNP,32893344,A,G

## Sample Analysis Report Data Set

The dataset from a sample analysis should look like:

In [18]:
pprint(report_data.keys())

dict_keys(['sample', 'analysis', 'analysis_interprtetation', 'allele_assessment', 'allele_annotation', 'allele'])